{% extends "base.html" %}

{% block content %}

<div class="col-md-4 col-lg-5 col-xl-6" id="main-col-map">
  <div id="mapid"></div>
</div>
<div class="col-md-8 col-lg-7 col-xl-6" id="main-col-content">
    <div class="row">

        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/?country={{ deanery.diocese.country.code }}">{{ deanery.diocese.country.name_with_period }}</a></li>
                    <li class="breadcrumb-item"><a href="/area/diocese/{{ deanery.diocese.id }}">Diecezja {{ deanery.diocese.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ deanery.name }}</li>
                </ol>
            </nav>

			<table class="table table-sm">
                <thead>
                    <tr>
                    	<th>Miejscowość</th>
                        <th>Parafia</th>
                        
                        <th>Rok</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                    	<td>{{ item.place }}</td>
                        <td><a href="{{ item.link }}">{{ item.name}}{% if not item.name %}(brak nazwy){% endif %}</a></td>
                        
                        <td>{% if item.year != 0 %} {{ item.year}}{% else %}-{%endif%}</td>
                        <td>{{ item.any_issues|safe }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>


        </div>

    </div>
</div>

{% endblock %}