{% extends "base.html" %}

{% block content %}

<div class="col-md-4 col-lg-5 col-xl-6" id="main-col-map">
  <div id="mapid"></div>
</div>
<div class="col-md-8 col-lg-7 col-xl-6" id="main-col-content">
    <div class="row">

        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Diecezja {{ diocese.name }}</li>
                </ol>
            </nav>

			<div>
                <strong>Dekanaty:</strong>
                {% for deanery in deaneries %}
                    <a href="{{deanery.link}}">{{deanery.name}}</a>, 
                {% endfor %}
            </div>

            <br/>
            <table class="table table-sm">
                <thead>
                    <tr>
                    	<th>Miejscowość</th>
                        <th>Parafia</th>
                        
                        <th>Rok</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                	<td>{{ item.place}}</td>
                    <td>
                        <a href="{{ item.link }}">{{ item.name}}{% if not item.name %}(brak nazwy){% endif %}</a>
                    </td>
                    
                    <td>
                        {% if item.year %} {{ item.year}}{% else %}-{%endif%}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            


        </div>

    </div>
</div>

{% endblock %}