{% extends "base.html" %}

{% block content %}



<div class="col-md-8 col-lg-7 col-xl-6" id="main-col-content">
    <div class="row" style="display:none;">
        <div class="col-md-12">

            <div class="form-row align-items-center">
                <!-- 
                <div class="col-auto my-1">
                  <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                 -->
                <!--
                <div class="col-auto my-1">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="before_1800">
                    <label class="custom-control-label" for="before_1800">Przed 1800</label>
                  </div>
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="between_1800_1900">
                    <label class="custom-control-label" for="between_1800_1900">1800-1900</label>
                  </div>
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="after_19800">
                    <label class="custom-control-label" for="after_19800">Po 1900</label>
                  </div>
                </div>
                <div class="col-auto my-1">
                  <button type="submit" class="btn btn-primary">Filtruj</button>
                </div>
                -->
            </div>

<br/>


        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-md-12">
        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">{{ country.name_with_period }}</li>
                </ol>
            </nav>

            {% if provinces %}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Powiaty</th>
                        <th>Parafie</th>
                    </tr>
                </thead>
                {% for wojewodztwo in provinces %}
                    {% if wojewodztwo.name %}
                    <tr>
                        <td><a href="/area/province/{{ wojewodztwo.id }}">{{ wojewodztwo.name }}</a></td>
                        <td><span title="powiaty">{{ wojewodztwo.county_number}}</span></td>
                        <td><span title="parafie">{{wojewodztwo.parish_number}}</span></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {% endif %}

            {% if dioceses %}
            <p>Podział kościelny: {{ religion_description }}</p>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Dekanaty</th>
                        <th>Parafie</th>
                    </tr>
                </thead>
                <tbody>
                {% for diecezja in dioceses %}
                    {% if diecezja.name %}
                    <tr>
                        <td><a href="/area/diocese/{{ diecezja.id }}">{{ diecezja.name }}</a></td>
                        <td>{{ diecezja.deanery_number }}</td>
                        <td>{{ diecezja.parish_number }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
    



<!--
@todo http://leafletjs.com/examples/choropleth/
@todo http://leafletjs.com/examples/layers-control/

clustering:
https://github.com/SINTEF-9012/PruneCluster
https://github.com/Leaflet/Leaflet.markercluster
-->
</div>
<div class="col-md-4 col-lg-5 col-xl-6" id="main-col-map" xmlns="http://www.w3.org/1999/html">
  <div id="mapid"></div>
</div>

{% endblock %}
