{% extends "base.html" %}

{% block content %}

<style>
    .form-row{
        margin-bottom: 1em;
    }
</style>

<div class="col-md-12">
    <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="/area/province/{{ parish.province.id }}" class="ajax_link">Województwo {{ parish.province.name }}</a></li>
                    <li class="breadcrumb-item"><a href="/area/county/{{ parish.county.id }}" class="ajax_link">{{ parish.county.name }}</a></li>
                    <li class="breadcrumb-item"><a href="/parish/{{ parish.id }}">{{ parish.name }}</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Edycja</li>
                </ol>

            </nav>
</div>

<div class="col-md-12" id="main-col-content">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dane podstawowe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/parish/{{ parish.id }}/edit2">Okresy historyczne</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/parish/{{ parish.id }}/edit3">Zewnętrzne dane</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/parish/{{ parish.id }}/edit4">Obiekty</a>
              </li>
            </ul>
            <br/>

            <form method="post">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="alert alert-info">
                Poniższe pola (R3) powinny określać współczesną lokalizację parafii, niezależnie od tego czy parafia istnieje czy nie.
                    Jeżeli parafia istniała w poprzednich strukturach administracyjnych to należy wskazać je w dalszej części formularza.
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <label>Nazwa parafii / wezwanie <span class="text-danger">*</span></label>
                        {{form.name}}

                    </div>
                    <div class="col-md-4">
                        <label>Wyznanie</label>
                        {{form.religion}}
                    </div>
                    <div class="col-md-1">
                        <label title="Wiek powstania">Wiek</label>
                        {{form.century}}
                    </div>
                    <div class="col-md-1">
                        <label title="Rok powstania">Rok</label>
                        {{form.year}}
                    </div>


                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label>Kraj R3<span class="text-danger">*</span></label>
                        {{form.country}}
                    </div>
                    <div class="col-md-5">
                        <label>Województwo R3<span class="text-danger">*</span></label>
                        {{form.province}}
                    </div>
                    <div class="col-md-4">
                        <label>Powiat R3<span class="text-danger">*</span></label>
                        {{form.county}}
                    </div>
                </div>

                <div class="form-row">

                    <div class="col-md-6">
                        <label>Miejscowość <span class="text-danger">*</span></label>
                        {{form.place}}

                        <label>Miejscowość (nazwa historyczna jeśli istnieje)</label>
                        {{form.place2}}
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kod</label>
                                {{form.postal_code}}
                            </div>
                            <div class="col-md-6">
                                <label>Poczta</label>
                                {{form.postal_place}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Adres</label>
                                {{form.address}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Diecezja R3</label>
                        {{form.diocese}}
                    </div>
                    <div class="col-md-4">
                        <label>Dekanat R3</label>
                        {{form.deanery}}
                    </div>
                </div>
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>




                <div class="form-row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-check-label">{{form.not_exist_anymore}} Parafia już nie istnieje.</label>
                            </div>
                            <div class="col-md-12">
                                <label class="form-check-label">{{form.all_done}} Parafia wypełniona w całości</label>
                            </div>
                            <div class="col-md-12">
                                <label class="form-check-label">{{form.geo_validated}} Pozycja parafii na mapie poprawna</label>
                            </div>
                            <div class="col-md-12">
                                <br/>
                                <label>Lista miejscowości należących do parafii</label>
                                {{ form.places }}
                                <br/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12" style="height: 300px; width: 100%;">
                                <div id="mapid"></div>
                            </div>

                            <div class="col-md-6">
                                <label>GEO LAT</label>
                                {{ form.geo_lat }}
                            </div>
                            <div class="col-md-6">
                                <label>GEO LNG</label>
                                {{ form.geo_lng }}
                            </div>
                        </div>
                    </div>

                </div>

                {% csrf_token %}
                <input type="hidden" name="form_no" value="1"/>

                <div class="form-row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>


            </form>
			<br/><br/>

        </div>
    </div>

</div>

<div class="col-md-4 col-lg-5 col-xl-6" >

</div>


{% endblock %}

{% block content_js %}
<script type="text/javascript">
    $(function(){
        //var map = L.map('mapid');
        if(typeof map !== "undefined"){
            map.setView([{{ parish.geo_lat }}, {{ parish.geo_lng }}], 12);

            // create custom icon
            var firefoxIcon2 = L.icon({
                iconUrl: '/static/img/marker-icon2.png',
                iconSize: [38, 38], // size of the icon
            });
            //console.log(firefoxIcon);

            function createIcon(data, category) {
                return L.icon({
                    iconUrl: '/static/img/marker-icon2.png',
                    iconSize: [38, 38], // size of the icon
                });
            };

            //console.log(markers[{{parish.id}}]);
            //markers[{{parish.id}}].data.icon = createIcon;
            //markers[{{parish.id}}].data.forceIconRedraw = true;

            //markers[{{parish.id}}].filtered = true
            //pruneCluster.ProcessView();

            console.log('ok {{parish.id}}');
        }

        $(document).on('change', '#source_type', function(){

        });

    });
</script>
{% endblock %}
