{% extends "base.html" %}

{% block content %}

<div class="col-md-12">
    <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="/area/province/{{ parish.province.id }}" class="ajax_link">Województwo {{ parish.province.name }}</a></li>
                    <li class="breadcrumb-item"><a href="/area/county/{{ parish.county.id }}" class="ajax_link">{{ parish.county.name }}</a></li>

                    <li class="breadcrumb-item active" aria-current="page">{{ parish.name }}</li>
                </ol>

            </nav>
</div>

<div class="col-md-4 col-lg-5 col-xl-6" id="main-col-map">
  <div id="mapid"></div>
</div>
<div class="col-md-8 col-lg-7 col-xl-6" id="main-col-content">
    <div class="row">
        <div class="col-md-12">

            <h3>{{ parish.place }}. {{ parish.name }}
                    <a data-toggle="modal" data-target="#exampleModal2" data-remote="/parish/{{parish.id}}/favourite" title="Oznacz jako ważną"><i class="fa fa-star{% if not parish_user.favorite %}-o{% endif %}" id="favourite-icon"></i></a>

            </h3>
            <div style="margin-bottom: 10px;">
                {% if manager %}<a href="/parish/{{ parish.id }}/edit" class="btn btn-sm btn-primary">edycja</a>{% endif %}
                {% if user.is_staff %}<a href="/admin/core/parish/{{ parish.id }}/change/" target="_blank" class="btn btn-sm btn-danger">edycja admin</a>{% endif %}
                {{ parish.any_issues |safe}}
            </div>

            <div>
                <p class="nomargin">Diecezja: {% if parish.diocese %}{{ parish.diocese.name }}{% else %}<span class="text-danger">brak danych</span>{% endif %}
                                    Dekanat: {% if parish.deanery %}{{ parish.deanery.name }}{% else %}<span class="text-danger">brak danych</span>{% endif %}
                </p>
                <p class="nomargin">Adres pocztowy: {{ parish.address }}, {{ parish.postal_code }} {{ parish.postal_place }}</p>
                <p class="nomargin">Wyznanie: {{ parish.get_religion_description }}</p>
                <p class="nomargin">Ziemia I RP: {% if parish.ziemia_i_rp %}{{ parish.ziemia_i_rp.name }}{% else %}<span class="text-danger">brak danych</span>{% endif %}</p>
                <p class="nomargin">Rok utworzenia: {% if parish.year %}{{ parish.year }}{% else %}<span class="text-danger">brak danych</span>{% endif %}</p>
            </div>
            <br/>


            <style>
                .document_years{
                    border-collapse: separate;
                }
                .document_years td{
                    width: 50px;
                    background: #eee;

                }

                #tab-documents-content table th{
                    border-top: 0px;
                }

                p.nomargin{
                    margin: 0px;
                }
                .select2-results__option {
                    padding: 0px 6px !important;
                }
                .select2-selection__rendered{
                    padding: 4px !important;
                }
                .select2-selection{
                    height: initial !important;
                }
            </style>

        </div>
    </div>
</div>

<div class="col-md-12">
          <br/>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-documents" data-toggle="tab" href="#tab-documents-content" role="tab" aria-selected="true">Źródła</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-documents3" data-toggle="tab" href="#tab-documents3-content" role="tab" aria-selected="true"><strong>Źródła - raport</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-documents2" data-toggle="tab" href="#tab-documents2-content" role="tab" aria-selected="false">Zasoby</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab-comments-content" role="tab" aria-controls="profile" aria-selected="false">Comments</a>
                    </li>
                    -->
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-documents-content" role="tabpanel">
                        {% include "parts/documents.html" %}
                    </div>
                    <div class="tab-pane fade" id="tab-documents3-content" role="tabpanel">
                        {% include "core/parish/documents_report.html" %}
                    </div>
                    <div class="tab-pane fade" id="tab-documents2-content" role="tabpanel">@todo zasoby sieciowe</div>
                </div>



</div>

{% endblock %}

{% block content_js %}
<script type="text/javascript">
    $(function(){
        //var map = L.map('mapid');
        if(typeof map !== "undefined"){
            map.setView([{{ parish.geo_lat }}, {{ parish.geo_lng }}], 12);

            // create custom icon
            var firefoxIcon2 = L.icon({
                iconUrl: '/static/img/marker-icon2.png',
                iconSize: [38, 38], // size of the icon
            });
            //console.log(firefoxIcon);

            function createIcon(data, category) {
                return L.icon({
                    iconUrl: '/static/img/marker-icon2.png',
                    iconSize: [38, 38], // size of the icon
                });
            };

            //console.log(markers[{{parish.id}}]);
            //markers[{{parish.id}}].data.icon = createIcon;
            //markers[{{parish.id}}].data.forceIconRedraw = true;

            //markers[{{parish.id}}].filtered = true
            //pruneCluster.ProcessView();

            console.log('ok {{parish.id}}');
        }

        $(document).on('change', '#source_type', function(){
            if( $(this).val() == 'PAR' ){
                $('#select-source').hide();
                $('#select-source-parish').show();
            } else {
                $('#select-source').show();
                $('#select-source-parish').hide();
            }
        });

        $(function(){
            $(document).on('click', '.filter-type', function(){
                $('.document_group').hide();
                $( ".filter-type" ).each(function( index ) {
                    if( $(this).is(':checked') ){
                        var type = $(this).data('type');
                        $('.document_group.'+type).show();
                    }
                });


                //
            });
        });

    });
</script>
{% endblock %}
