{% extends "base.html" %}

{% block content %}

<div class="col-md-4 col-lg-5 col-xl-6" id="main-col-map">
  <div id="mapid"></div>
</div>
<div class="col-md-8 col-lg-7 col-xl-6" id="main-col-content">
    <div class="row">

        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Województwo {{ province.name }}</li>
                </ol>
            </nav>

            <div>
                <strong>Powiaty:</strong>
                {% for county in counties %}
                    <a href="{{county.link}}">{{county.name}}</a>
                {% endfor %}
            </div>

            <br/>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Parafia</th>
                        <th>Miejscowość</th>
                        <th>Rok</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ item.link }}">{{ item.name}}</a>
                    </td>
                    <td>{{ item.place}}</td>
                    <td>
                        {{ item.year}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>

    </div>
</div>

{% endblock %}


{% block content_js %}
<script type="text/javascript">
$(function(){
    setTimeout(function(){


        filterByProvince({{province.id}});
    }, 2000);
});
</script>
{% endblock %}
