<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/libs/LeafletStyleSheet.css"/>
    <style>
        #main-row-content{
          position:  absolute;
          top: 56px;
            right: 15px;
            left: 0px;
            bottom: 0px;
            flex-wrap: initial;
        }
        body.map #main-row-content{
            position: fixed !important;

        }
        #main-col-content{
          overflow: auto;
        }
        .row > .navbar{
            width: 100%;
        }
        ul.inline > li{
          display: inline-block;
        }
        #mapid{
            height: 100%;
        }
        #main-col-map{
            padding-right: 0px;
        }
        #main-col-details{
            padding-top: 15px;
            overflow-y: auto;
        }
        .breadcrumb{
            background-color: white !important;
            padding-left: 0px !important;
        }
        .tab-content{
            padding: 10px;
            border-left: 1px solid #ddd;
        }
        .nav-link.active{
            border-bottom: 1px solid rgba(0,0,0,0.9);
        }
    </style>
    {% block content_css %}{% endblock %}

    <title>Dokumenty archiwalne</title>
  </head>
  <body class="{% if body_map %}map{% endif %}">

    <div class="container-fluid bg-light">
      <div class="row">
          <div class="container">
            <div class="row">
            {% include "_header.html" %}
            </div>
          </div>
      </div>
      <div class="row" id="main-row-content">
          {% block content %}{% endblock %}
      </div>
    </div>

    {% include "parts/_modals.html" %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
                integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
                crossorigin=""></script>
    <script src="/static/libs/PruneCluster.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript">
        $(function(){

            // bootstrap
            $('body').on('click', '[data-toggle="popover"]', function(){
                $(this).popover('toggle');
            });

            $('body').on('click', '[data-toggle="modal"]', function(){
                $($(this).data("target")+' .modal-body').load($(this).data("remote"));
            });

          $('body').on('click', '.ajax-form-send', function(e){
              var $form = $('#' + $(this).data('form'));
              var $parent = $form.parent();

              $.ajax({
                 type: "POST",
                 url: $form.attr('action'),
                 data: $form.serialize(), // serializes the form's elements.
                 success: function(data)
                 {
                      $parent.html(data);
                     //alert(data); // show response from the php script.
                 }
               });

              e.preventDefault();
          });
        });
    </script>

    <!-- map -->
    <script type="text/javascript">
        /*
        $(function(){
            for(i in markers){
                markers[i].filtered = false;
            }
            pruneCluster.ProcessView();
        });
        */
    </script>
    <script type="text/javascript">
    var map = null;
    var markers = {};
    var pruneCluster = null;
    $(function(){
        map = L.map('mapid').setView([51.95, 19.08], 7);
        map.on('moveend', function() {
            //console.log('a');
        });
        map.on('zoomend', function() {
            //console.log('b');
        });

        L.tileLayer( 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a','b','c']
        }).addTo( map );

        pruneCluster = new PruneClusterForLeaflet(100);

        //var marker2 = new PruneCluster.Marker(52.8400, 19.1800);
        //pruneCluster.RegisterMarker(marker2);

        $.ajax({
            url: '/parish/list.json{% if limit_parish_on_the_map %}{{ limit_parish_on_the_map }}{% endif %}',
            dataType: 'json'
        }).done(function(data){
            for(parish_key in data){
                var parish = data[parish_key];

                var marker = new PruneCluster.Marker(parish['geo_lat'], parish['geo_lng']);
                marker.data.name = '<h2>' + parish['name'] + '</h2>' + parish['place'] + ', ' + parish['address'] + '<br/><a href="/parish/' + parish['id'] + '">Zobacz</a>';
                marker.data.ID = parish['id'];
                marker.province_id = parish['province_id'];
                marker.county_id = parish['county_id'];

                pruneCluster.RegisterMarker(marker);
                markers[marker.data.ID] = marker;

                //break;
            }

            pruneCluster.ProcessView();
        }).fail(function(jqXHR, textStatus){
            alert('ajax error');
        });

        pruneCluster.PrepareLeafletMarker = function(leafletMarker, data) {

            if(leafletMarker.preparedLeafletMarker) {
                return;
            }

        //    leafletMarker.on('click', function(){
        //        $.ajax({
        //            url: '/parts/parish?id=' + data.ID
        //        }).done(function(data){
        //            $('#main-col-details').html(data);
        //        });
        //    });

            // A popup can already be attached to the marker
            // bindPopup can override it, but it's faster to update the content instead
            if (leafletMarker.getPopup()) {
                //leafletMarker.setPopupContent(data.name);
alert('!');
                leafletMarker.setIcon(L.icon({
                    iconUrl: '/static/img/marker-icon2.png',
                    iconSize: [38, 38], // size of the icon
                }));
                pruneCluster.ProcessView();
            } else {
                leafletMarker.bindPopup(data.name);
            }

            leafletMarker.preparedLeafletMarker = true;
        };

        map.addLayer(pruneCluster);


        // create a red polygon from an array of LatLng points
        var latlngs = [{% for row in convex_hull %}[{{row.0}}, {{row.1}}],{% endfor %} ]; //  [51.417944, 20.330228],
        var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
        // zoom the map to the polygon
        //map.fitBounds(polygon.getBounds());






        $('body').on('click', '#btn-search', function(){
            var text = $(this).prev().val();
            $.ajax({
                url: '/parts/search?text=' + text,
            }).done(function(data){
                $('#main-col-details').html(data);
            });
            return false;
        });



    });

    var resetFilters = function(){
        for(i in markers){
            markers[i].filtered = false;
        }
        pruneCluster.ProcessView();
    }

    var filterByProvince = function(province_id){
        var keys = Object.keys(markers);
        for(i in keys){
            console.log(i);
            if(markers[i].province_id == province_id){
                markers[i].filtered = false;
            } else {
                markers[i].filtered = true;
            }
        }
        pruneCluster.ProcessView();
    }

    </script>

    {% block content_js %}{% endblock %}
  </body>
</html>