{% extends "base.html" %}

{% block content %}

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-4">

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

                <div class="form-group">
                    {{ form.username.label_tag }}
                    <input type="text" name="username" autofocus="" required="" id="id_username" class="form-control"/>
                    <small></small>
                </div>

                <div class="form-group">
                    {{ form.password.label_tag }}
                    <input type="password" name="password" autofocus="" required="" id="id_password" class="form-control"/>
                    <small></small>
                </div>

                <div class="form-group form-check">

                </div>

                <button type="submit" value="login" class="btn btn-primary">Zaloguj się</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <br/>
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Zgubione hasło?</a> <a href="/accounts/register/"><strong>Rejestracja</strong></a></p>
        </div>
    </div>
</div>

{% endblock %}