{% extends "base.html" %}

{% block content %}

<div class="container" >

    <div class="row">

        <div class="col-md-12">
            <br/>
            <div class="alert alert-success">Wyszukiwarka przeszukuje miejscowości oraz nazwy parafii.</div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
        
            <form class="form-inline my-2" action="/search">
		      <input class="form-control mr-sm-2" type="search" placeholder="Nazwa parafii" aria-label="Search" name="q" value="{{q}}">
		      <label class="form-check-label"><input type="checkbox" name="hide_a_1800" {% if hide_a_1800 %}checked{% endif %}/>Ukryj parafie po 1800r.</label>
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search2" style="margin-left: 10px;">Szukaj</button>
		    </form>
        
        
        </div>
    </div>
    <div class="row">


        <div class="col-md-12">


            <table class="table table-sm">
                <thead>
                    <tr>
                        <th title="Rok utworzenia">Rok</th>
                        <th class="text-left">Miejsowość</th>
                        <th>Parafia</th>
                        <th class="text-center">Wyznanie</th>
                        <th class="text-right">Powiat / Województwo / Kraj</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parish in parishes %}
                    <tr>
                        <td>{% if parish.year %}{{ parish.year }}{% else %}-{% endif %}</td>
                        <td class="text-left">{{ parish.place }}{% if parish.place2 %} (<i>{{parish.place2}}</i>){% endif %}</td>
                        <td><a href="/parish/{{parish.id}}">{{ parish.name }}{% if not parish.name %}(brak wezwania){% endif %}</a></td>
                        <td class="text-center">{{ parish.get_religion_short }}</td>
                        <td class="text-right">{{ parish.county.name }} / {{ parish.province.name }} / {{ parish.province.country.code }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>



        </div>
        <div class="col-md-6">

        </div>
    </div>

</div>
{% endblock %}
