<!-- lista roczników -> po kliknięciu: żródło, język, treść notatki. -->
<table class="table table-sm">
    <colgroup>
        <col width="200"/>
    </colgroup>
    <thead>
        <tr>
            <th>Rodzaj aktów</th>
            <th>Lista zarchiwizowanych roczników</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Urodzenia</td>
            <td>{% for item, details in document_groups_yby.b.items %}<span title="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) | {% endfor %}" class="cursor-help">{{item}}</span>, {% endfor %}</td>
        </tr>
        <tr>
            <td>Małżeństwa</td>
            <td>{% for item, details in document_groups_yby.m.items %}<span title="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) | {% endfor %}" class="cursor-help">{{item}}</span>, {% endfor %}</td>
        </tr>
        <tr>
            <td>Zgony</td>
            <td>{% for item, details in document_groups_yby.d.items %}<span title="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) | {% endfor %}" class="cursor-help">{{item}}</span>, {% endfor %}</td>
        </tr>
        {% if document_groups_sorted.zap %}
        <tr>
            <td>Zapowiedzi</td>
            <td>{% for item, details in document_groups_yby.zap.items %}<span title="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) | {% endfor %}" class="cursor-help">{{item}}</span>, {% endfor %}</td>
        </tr>
        {% endif %}
        {% if document_groups_sorted.a %}
        <tr>
            <td>Aneksy</td>
            <td>{% for item, details in document_groups_yby.a.items %}<span title="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) | {% endfor %}" class="cursor-help">{{item}}</span>, {% endfor %}</td>
        </tr>
        {% endif %}
    </tbody>


</table>