{% load sort_dict_by_key %}
<!-- lista roczników -> po kliknięciu: żródło, język, treść notatki. -->

<table class="table table-sm">
    <colgroup>
        <col width="200"/>
    </colgroup>
    <thead>
        <tr>
            <th>Baza indeksów</th>
            <th>Zakres opracowanych roczników</th>
        </tr>
    </thead>
    <tbody>
        {% for index in documents_indexes %}
        <tr>
            <td><a href="{{ index.url }}" target="_blank">{{ index.project_name }}</a></td>
            <td>{% for row in index.indexes %}
                <strong>{{ row.0 }}</strong>:
                    {% for r in row.1 %}
                        {% if r.0 %}
                            {{r.0}} - {{r.1}}
                        {% else %}
                            {{ r }}
                        {% endif %},
                    {% endfor %}<br/>
                {% endfor %}

            </td>
        </tr>
        {% endfor %}

        {% for remote_item in remote_items %}
        <tr>
            <td>{{remote_item.system.name}}</td>
            <td>{{remote_item.raw_data}}</td>
        </tr>
        {% endfor %}

    </tbody>


</table>