{% load sort_dict_by_key %}
<!-- lista roczników -> po kliknięciu: żródło, język, treść notatki. -->

<div class="col-md-12 form-check" style="margin-bottom: 20px;">
        <label class="form-check-label"><input type="checkbox" class="filter-type3"> Ukryj sumariusze</label></label>&nbsp;&nbsp;
    </div>

<table class="table table-sm">
    <colgroup>
        <col width="200"/>
    </colgroup>
    <thead>
        <tr>
            <th>Rodzaj aktów</th>
            <th>Lista zinwentaryzowanych roczników</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Urodzenia</td>
            <td>{% for item, details in document_groups_yby.b.items|sort_dict_by_key %}<span data-toggle="popover" data-html="true" data-trigger="hover" data-content="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) <br/> {% endfor %}" class="cursor-help {% for detail in details %}copy_type_{{detail.copy_type}} {% endfor %}">{{item}}, </span>{% endfor %}</td>
        </tr>
        <tr>
            <td>Małżeństwa</td>
            <td>{% for item, details in document_groups_yby.m.items|sort_dict_by_key %}<span data-toggle="popover" data-html="true" data-trigger="hover" data-content="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) <br/>  {% endfor %}" class="cursor-help {% for detail in details %}copy_type_{{detail.copy_type}} {% endfor %}">{{item}}, </span>{% endfor %}</td>
        </tr>
        <tr>
            <td>Zgony</td>
            <td>{% for item, details in document_groups_yby.d.items|sort_dict_by_key %}<span data-toggle="popover" data-html="true" data-trigger="hover" data-content="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) <br/>  {% endfor %}" class="cursor-help {% for detail in details %}copy_type_{{detail.copy_type}} {% endfor %}">{{item}}, </span>{% endfor %}</td>
        </tr>
        {% if document_groups_sorted.zap %}
        <tr>
            <td>Zapowiedzi</td>
            <td>{% for item, details in document_groups_yby.zap.items|sort_dict_by_key %}<span data-toggle="popover" data-html="true" data-trigger="hover" data-content="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) <br/>  {% endfor %}" class="cursor-help {% for detail in details %}copy_type_{{detail.copy_type}} {% endfor %}">{{item}}, </span>{% endfor %}</td>
        </tr>
        {% endif %}
        {% if document_groups_sorted.a %}
        <tr>
            <td>Aneksy</td>
            <td>{% for item, details in document_groups_yby.a.items|sort_dict_by_key %}<span data-toggle="popover" data-html="true" data-trigger="hover" data-content="{% for detail in details %}{{detail.copy_type}}, {{detail.source}} ({{detail.source_group}}) <br/>  {% endfor %}" class="cursor-help {% for detail in details %}copy_type_{{detail.copy_type}} {% endfor %}">{{item}}, </span>{% endfor %}</td>
        </tr>
        {% endif %}
    </tbody>


</table>