
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/parts/root" class="ajax_link">Strona główna</a></li>
        {% if group_type == 'province' %}

        {% endif %}
        {% if group_type == 'county' %}
            <li class="breadcrumb-item"><a href="/parts/area?province={{ group_obj.province.id }}" class="ajax_link">{{ group_obj.province.name }}</a></li>
        {% endif %}
        {% if group_type == 'diocese' %}

        {% endif %}
        {% if group_type == 'deanary' %}
            <li class="breadcrumb-item"><a href="/parts/area?diocese={{ group_obj.diocese.id }}" class="ajax_link">{{ group_obj.diocese.name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ group_obj.name }}</li>
  </ol>
</nav>

{% if group_type == 'county' or group_type == 'deanary' %}
<table class="table">
    {% for item in items %}
    <tr><td><a href="{{ item.link }}" class="ajax_link">{{ item.name}}</a></td>{{ item.place}}<td></td></tr>
    {% endfor %}
</table>

{% else %}
<ul>
    {% for item in items %}
    <li><a href="{{ item.link }}" class="ajax_link">{{ item.name}}</a></li>
    {% endfor %}
</ul>
{% endif %}


<script type="text/javascript">

</script>
