<form method="post" action="/parish/{{parish.id}}/add-document" id="document-group-add">

{% if saved %}
<div class="form-row_">



	<script type="text/javascript">
	$(function(){
		
		
		$.ajax({
            url: '/parish/{{parish.id}}/documents',
            dataType: 'html'
        }).done(function(data){
        	
            $('#tab-documents-content').html(data);

            $("#exampleModal").modal('hide');
            //var $toast = $('<div class="toast" id="toast"><div class="toast-header">Komunikat</div><div class="toast-body">Dane zapisane</div></div>');
            //$toast.append( $("body"));
            //$toast.toast({delay: 1500}).toast('show');
            //$('#toast').toast('show');
        }).fail(function(jqXHR, textStatus){
            console.log('loading /parish/{{ parish.id }}/documents error')
        });
		
	});
	</script>
</div>
{% endif %}

    <script type="text/javascript">
        $(function(){

            $('#source_type').change();
            $('#id_source').select2({
                dropdownParent: $('#exampleModal'),
                placeholder: 'Nazwa archiwum',
                ajax: {
                	delay: 250,
                    url: '/ajax/sources',
                    data: function (params) {
                      var query = {
                        q: params.term,
                        g: $('#source_type').val()
                      }

                      // Query parameters will be ?search=[term]&page=[page]
                      return query;
                    }
                 }
            });
        });
    </script>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_copy_type">Typ dokumentów <span class="text-danger">*</span></label>
            {{form.copy_type}}
            <small class="text-danger">{% for error in form.copy_type.errors %}{{error}} {% endfor %}</small>
        </div>

        <div class="form-group col-md-3">
            <label>Data od <span class="text-danger">*</span></label>
            {{form.date_from}}
            <small class="text-danger">{% for error in form.date_from.errors %}{{error}} {% endfor %}</small>
        </div>
        <div class="form-group col-md-3">
            <label>Data do <span class="text-danger">*</span></label>
            {{form.date_to}}
            <small class="text-danger">{% for error in form.date_to.errors %}{{error}} {% endfor %}</small>
        </div>

        <!--
        <div class="form-group col-md-3 {% if form.name.errors %}is-invalid{% endif %}">
            <label for="id_name">Nazwa</label>
            {{form.name}}
            <small class="text-danger">{% for error in form.name.errors %}{{error}} {% endfor %}</small>
        </div>


        -->
    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <label>Rodzaje dokumentów:</label>

            <div class="form-row">
                <div class="col-md-3 form-check">

                    <label class="form-check-label">{{form.type_b}} Urodzenia</label>
                </div>
                <div class="col-md-3 form-check">
                    <label class="form-check-label">{{form.type_m}} Małżeństwa</label>
                </div>
                <div class="col-md-3 form-check">
                    <label class="form-check-label">{{form.type_d}} Zgony</label>
                </div>
                <!--
                <div class="col-md-3 form-check">
                    <label class="form-check-label">{{form.type_a}} Aneksy</label>
                </div>
                <div class="col-md-3 form-check">

                    <label class="form-check-label">{{form.type_sum_only}} Tylko sumariusz</label>
                </div>
                -->
            </div>
        </div>


    </div>


    <div class="form-row">
        <div class="col-md-12">
            <label for="id_source">Źródło <span class="text-danger">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <select name="source_type" id="source_type" class="form-control">
                {% for source_type in source_types %}
                <option value="{{ source_type.0 }}">{{ source_type.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-9">
            <style>#id_source, .select2{ width: 100% !important; };</style>
            {{form.source}}
            <small class="text-danger">{% for error in form.source.errors %}{{error}} {% endfor %}</small>
        </div>

        <!--
        <div class="form-group col-md-9">
            <label for="id_url">Adres URL <small class="text-muted">(opcjonalnie)</small></label>
            <input type="text" name="url" maxlength="32" id="id_url" class="form-control"/>
            <small class="text-danger">{% for error in form.url.errors %}{{error}} {% endfor %}</small>
        </div>
        -->
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Notatka <small class="text-muted">(opcjonalnie)</small></label>

            {{form.note}}
        </div>
    </div>

    {% csrf_token %}
    <input type="hidden" name="parish" value="{{ parish.id }}" />
    {% if document_group %}<input type="hidden" name="dg" value="{{document_group.id}}"/>{% endif %}

</form>

