<div class="row">
    <div class="col-md-12 form-check" style="margin-bottom: 20px;">
        <label class="form-check-label"><input type="checkbox" checked class="filter-type" data-type="B"> urodzenia</label></label>&nbsp;&nbsp;
        <label class="form-check-label"><input type="checkbox" checked class="filter-type" data-type="M"> małżeństwa</label></label>&nbsp;&nbsp;
        <label class="form-check-label"><input type="checkbox" checked class="filter-type" data-type="D"> zgony</label></label>&nbsp;&nbsp;
        <label class="form-check-label"><input type="checkbox" checked class="filter-type" data-type="ZAP"> zapowiedzi</label></label>&nbsp;&nbsp;
        <label class="form-check-label"><input type="checkbox" checked class="filter-type" data-type="A"> alegata</label></label>&nbsp;&nbsp;
    </div>
    <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Rodzja księgi</th>
                    <th>Zakres lat</th>
					<th>Typ dokumentu</th>
                    <th>Źródło</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for document_group in document_groups %}
                <tr class="document_group {%if document_group.type_b%}B{%endif%} {%if document_group.type_d%}D{%endif%} {%if document_group.type_m%}M{%endif%} {%if document_group.type_zap%}ZAP{%endif%} {%if document_group.type_a%}A{%endif%}">
                    <td style="font-family: mono">
                        {% if document_group.type_b %}urodzenia{% else %} {% endif %}
                        {% if document_group.type_d %}zgony{% else %} {% endif %}
                        {% if document_group.type_m %}małżeństwa{% else %} {% endif %}
                        {% if document_group.type_a %}alegata{% else %} {% endif %}
                        {% if document_group.type_zap %}zapowiedzi{% else %} {% endif %}
                        {% if document_group.type_sum_only %}sumariusz{% else %}{% endif %}
                    </td>
                    <td><span>{{ document_group.date_from }}-{{ document_group.date_to }}{% if document_group.note %} <span class="fa fa-info-circle" title="{{document_group.note}}"></span>{% endif %}</span></td>


					<td>{{ document_group.copy_type_str }}</td>
                    <td>{% if document_group.source.group == 'PAR' %}
                            Archiwum parafialne: <strong>{{ document_group.source_parish.name }}, {{ document_group.source_parish.place }}</strong>
                        {% else %}
                            {{ document_group.source }}
                        {% endif %}
                    </td>

                    <td>
                        {% if document_group.link %}
                        <a href="{{ document_group.link }}">Link</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <a href="#" data-remote="/parish/{{parish.id}}/add-document?dg={{document_group.id}}" data-toggle="modal" data-target="#exampleModal">Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if not document_groups %}
                <tr>
                    <td colspan="4">Brak danych</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12">

        
    </div>
</div>
