<div class="row">
    <div class="col-md-12">
        <h3>Filtrowanie</h3>
        <ul>
            <li><input type="checkbox" id="before_1800"/><label for="before_1800">Przed 1800</label></li>
            <li><input type="checkbox" id="between_1800_1900"/><label for="between_1800_1900">1800-1900</label></li>
        </ul>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h3>Województwa</h3>
        <ul class="inline">
            {% for wojewodztwo in provinces %}
                {% if wojewodztwo.name %}
                <li><a href="/parts/area?province={{ wojewodztwo.id }}" class="ajax_link">{{ wojewodztwo.name }}</a>, </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12">
        <h3>Diecezje</h3>
        <ul class="inline">
            {% for diecezja in dioceses %}
                {% if diecezja.name %}
                <li><a href="/parts/area?diocese={{ diecezja.id }}" class="ajax_link">{{ diecezja.name }}</a>, </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h3>Ziemie I RP</h3>

    </div>

    <div class="col-md-6">
        <h3>Ulubione parafie</h3>

    </div>
</div>

<script type="text/javascript">
    $(function(){


        for(i in markers){
            markers[i].filtered = false;
        }


        pruneCluster.ProcessView();
    });
</script>