{% extends "base.html" %}

{% block content %}

<div class="container" >

    <div class="row">



        <div class="col-md-12">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                </ol>

            </nav>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Kancelaria</th>
                        <th>Ilość ksiąg</th>
                    </tr>
                </thead>
                <tbody>
                    {% for office in offices %}
                    <tr>
                        <td><a href="/courts/office/{{office.id}}">{{ office.name }}</a></td>
                        <td>{{ office.book_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            {% if user.is_staff %}
            <a href="/admin/core/courtoffice/" class="btn btn-danger" target="_blank">Zarządzaj kancelariami</a>
            {% endif %}


        </div>
    </div>

</div>
{% endblock %}
