{% extends "base.html" %}

{% block content %}

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-6">
            <form method="post">

                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    <input type="text" name="first_name" autofocus="" required="" id="id_first_name" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"/>
                    <small class="form-text {% if form.first_name.errors %}text-danger{% else %}text-muted{% endif %}">
                        {% if not form.first_name.errors %}
                            {{ form.first_name.help_text }}
                        {% else %}
                            {% for error in form.first_name.errors %}{{error}} {% endfor %}
                        {% endif %}
                    </small>

                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    <input type="text" name="last_name" autofocus="" required="" id="id_last_name" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"/>
                    <small class="form-text {% if form.last_name.errors %}text-danger{% else %}text-muted{% endif %}">
                        {% if not form.last_name.errors %}
                            {{ form.last_name.help_text }}
                        {% else %}
                            {% for error in form.last_name.errors %}{{error}} {% endfor %}
                        {% endif %}
                    </small>

                </div>


                <div class="form-group">
                    {{ form.email.label_tag }}
                    <input type="text" name="email" autofocus="" required="" id="id_email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/>
                    <small class="form-text {% if form.email.errors %}text-danger{% else %}text-muted{% endif %}">
                        {% if not form.email.errors %}
                            {{ form.email.help_text }}
                        {% else %}
                            {% for error in form.email.errors %}{{error}} {% endfor %}
                        {% endif %}
                    </small>
                </div>


                <div class="form-group">
                    {{ form.password1.label_tag }}
                    <input type="password" name="password1" autofocus="" required="" id="id_password1" class="form-control"/>
                    <small>{{ form.password1.help_text }}</small>
                    {{ form.password1.errors }}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    <input type="password" name="password2" autofocus="" required="" id="id_password2" class="form-control"/>
                    <small>{{ form.password2.help_text }}</small>
                    {{ form.password2.errors }}
                </div>

                <div class="form-group">
                    {{ form.parishes.label_tag }}
                    <textarea name="parishes" id="id_parishes" class="form-control"></textarea>
                    <small>{{ form.parishes.help_text }}</small>
                    {{ form.parishes.errors }}
                </div>
                <div class="form-group">
                    {{ form.lastnames.label_tag }}
                    <textarea name="lastnames" id="id_lastnames" class="form-control"></textarea>
                    <small>{{ form.lastnames.help_text }}</small>
                    {{ form.lastnames.errors }}
                </div>

                <p>
                    Akceptuję <a href="https://indeksy.projektpodlasie.pl/index.php/polityka-prywatnosci" target="_blank">politykę prywatności</a> grupy projektpodlasie.pl i wyrażam zgodę na przetwarzanie moich danych osobowych

                </p>

                {{ form.non_field_errors }}

                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Zapisz mnie</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}