{% extends "base.html" %}{% load has_group %}

{% block content %}

<div class="container" >

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Użytkownicy</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">


        <div class="col-md-12">

            <h3>Zarejestrowane konta</h3>

            <table class="table table-sm">
                <colgroup>
                    <col width="200"/>
                    <col/>
                    <col/>
                    <col width="400"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>Data rejestracji</th>
                        <th>Osoba</th>
                        <th>E-mail</th>
                        <th>Uprawnienia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.date_joined|date:"Y-m-d H:s"}} UTC</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td style="background: #eee;">
                            {% if user.is_superuser %}
                            <span class="text-danger">ADMINISTRATOR</span>
                            {% elif user|has_group:"FULL_DATA_ACCESS" %}
                            <span class="text-success">Dostęp pełny</span> <a href="?switch_access_for_user={{user.id}}">ogranicz</a>
                            {% else %}
                            <span class="">Dostęp ograniczony <a href="?switch_access_for_user={{user.id}}">zwiększ</a> | <a href="/a/users/{{user.id}}">daj dostęp</a></span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <small>Dostęp ograniczony - oznacza dostęp do edycji wybranych parafii.<br/>
                Dostęp pełny - oznacza dostęp do edycji wszystkich parafii.</small>

            <br/><br/>

            <h3>Prośby o dostęp do edycji</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Osoba</th>
                        <th>Parafia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for request in user_requests %}
                <tr>
                    <td>{{request.manager_request_date|date:"Y-m-d H:s"}} UTC</td>
                    <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    <td>{{request.parish.name}} ({{request.parish.year}}), {{request.parish.place}}</td>
                    <td><a href="?access&parish={{request.parish.id}}&user={{request.user.id}}" class="btn btn-light">DAJ DOSTĘP</a></td>
                </tr>
                {% endfor %}
                {% if not user_requests %}
                <tr>
                    <td colspan="4">Brak</td>
                </tr>
                {% endif %}

                </tbody>

            </table>
            <br/><br/>

            <h3>Parafie zarządzane przez ponad 1 osobę</h3>
            <ul>
            {% for parish in parishes_with_more_managers %}
                <li>{{ parish }}, @todo-kto</li>
            {% endfor %}
            </ul>
            {% if not parishes_with_more_managers %}
                <p class="text-success">Brak takich parafii</p>
            {% endif %}


        </div>

    </div>

</div>
{% endblock %}
